/* Responsive */
@media screen and (max-width: 576px) {
  #header {
    padding: 12px 16px;
  }
  .logo-image {
    width: 46px;
    height: 46px;
  }
  .logo-name {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .menu-icon {
    display: flex;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  /* hero section */
  .hero-container {
    display: flex;
    gap: 12px;
    flex-direction: column-reverse;
    padding: 20px 16px;
  }
  .hero-content {
    gap: 0;
    padding-top: 20px;
    text-align: center;
  }
  .hero-content .hero-title {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
  }
  .hero-container .hero-description {
    margin-top: 18px;
    color: #111111;
    font-size: 16px;
    font-weight: 400;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    width: 100%;
  }

  /* curriculum */
  .curriculum {
    margin-top: 20px;
  }
  .curriculum-title {
    font-size: 28px;
    line-height: 38px;
  }
  .curriculum-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 16px;
    margin-top: 32px;
  }

  .single-card {
    width: 100%;
  }

  .slider {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
