@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", serif;
}
/* marquee */
.marquee {
  position: absolute;
  top: 80px;
  font-size: 41px;
  color: #000;
  font-weight: 500;
}
/* header section */
#header {
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-image {
  width: 62px;
  height: 62px;
}

.logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-name {
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
}

/* navbar */
.navbar {
  list-style: none;
  display: flex;
  gap: 32px;
}
.navbar li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.navbar li a.home {
  color: #fea301;
}
.navbar li a.about {
  color: #01acfd;
}
.navbar li a.facilities {
  color: #05d4df;
}
.navbar li a.admission {
  color: #5d58ef;
}
.btn-container {
  display: flex;
  gap: 8px;
}
.contact-btn {
  padding: 10px 30px;
  background-color: #fea301;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.menu-icon {
  display: none;
}
/* hero section */
.hero-container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  gap: 50px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content .hero-title {
  font-size: 56px;
  line-height: 61px;
  font-weight: 700;
}

.hero-title .empower {
  color: #fea301;
}

.hero-title .toward {
  color: #01acfd;
}

.hero-container .hero-description {
  margin-top: 24px;
  color: #111111;
  font-size: 20px;
  font-weight: 400;
}
.hero-image {
  width: 468px;
  flex-shrink: 0;
}

.hero-btn button {
  padding: 10px 47px;
  margin-top: 32px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
/* curriculum section */
.curriculum {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 72px;
}
.curriculum-container {
  max-width: 1160px;
  margin: 0 auto;
}
.curriculum-title {
  font-size: 46px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
}
.curriculum-card-container {
  padding: 80px 0;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.single-card {
  width: 367px;
  background-image: linear-gradient(
    to bottom,
    rgba(222, 245, 255, 1) -9%,
    rgba(255, 255, 255, 1) 40%
  );
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #def5ff;
  padding: 52px 26px;
}

.single-card:nth-child(2) {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 244, 220, 100) -9%,
    rgba(255, 255, 255, 0) 40%
  );
  background-color: #fff;
  border: 1px solid #fff4dc;
}

.single-card:last-child {
  background-image: linear-gradient(
    to bottom,
    rgba(238, 225, 255, 100) -9%,
    rgba(255, 255, 255, 0) 40%
  );
  border: 1px solid #f2e8ff;
  background-color: #fff;
}

.card-image {
  width: 136px;
}

.card-image img {
  width: 100%;
  object-fit: cover;
}
.card-content {
  margin-top: 32px;
}
.card-content .card-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.card-content .card-description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  font-family: Raleway;
  color: #808080;
  text-align: center;
  margin-top: 32px;
}
.card-btn {
  text-align: center;
  margin-top: 32px;
}
.card-btn a {
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: #64c8ff;
  background-color: transparent;
  text-transform: capitalize;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.card-btn .yellow {
  color: #fea301;
}

.card-btn .purple {
  color: #8700ff;
}
/* arrow */
.slider {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 60px;
}
.arrow-left {
  width: 48px;
  height: 48px;
  background-color: #fea301;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrow-right {
  width: 48px;
  height: 48px;
  background-color: #fea301;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* our stories section */
.our-stories {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 40px 0;
}
.our-stories::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to top,
    rgba(255, 239, 210, 100%) 82%,
    rgb(255 255 255 / 100%) 100%
  );
  opacity: 30%;
  inset: 0;
}

.stories-title {
  font-size: 46px;
  line-height: 57px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.stories-container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  gap: 18px;
}
.one-story-content {
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  max-width: 540px;
}

.story-image img {
  width: 100%;
}
.story-content {
  padding: 58px 38px 34px 38px;
}

.story-title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  color: #000000;
}
.story-description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  font-family: raleway;
  margin-top: 38px;
}
.four-story-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  position: relative;
  z-index: 1;
}
/* badge */
.badge {
  padding: 14px 18px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: Raleway;
  background-color: #3cd8e8;
  color: #fff;
  border-radius: 50px;
  text-transform: capitalize;
  position: absolute;
  bottom: 43%;
  left: 38px;
}

.similar-card {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.similar-card-content {
  padding: 30px 30px 22px 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.story-1,
.story-2,
.story-3,
.story-4 {
  position: relative;
}

.green-bg {
  background-color: #95b226;
  padding: 8px 16px;
  bottom: 115px;
  left: 30px;
}

.blue-bg {
  background-color: #5d58f0;
}
.story-image img {
  width: 100%;
}
.story-image-1 img {
  width: 100%;
}
.story-image-2 img {
  width: 100%;
}
.story-image-3 img {
  width: 100%;
}
.story-image-4 img {
  width: 100%;
}
.view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.view-btn button {
  padding: 10px 60px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  background-color: black;
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
/* footer */
.footer {
  background-color: #01acfd;
}

.footer-container {
  padding: 98px 20px 139px 20px;
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  gap: 145px;
}
.footer-content {
  flex-shrink: 0;
}
.footer-logo-image-name {
  display: flex;
  gap: 10px;
}
.footer-logo-image {
  width: 82px;
  height: 82px;
  overflow: hidden;
}

.footer-logo-image img {
  width: 100%;
}
.footer-logo-name {
  font-size: 42px;
  line-height: 39px;
  font-weight: 700;
  color: #fff;
}
.footer-content-description {
  max-width: 390px;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-top: 32px;
}

.footer-nav-social-icon-container {
  display: flex;
  gap: 110px;
}
.footer-nav-container h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.footer-nav-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav-container ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
}

.social-icon-container h3 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}

.social-icon-image-container {
  display: flex;
  gap: 8px;
}
